


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    margin: 0;
    margin-bottom: 6px;
}



a {
    color: rgb(5, 0, 0);
    text-decoration: none;
}

/*image*/
img {
    width: 100%;
    height: 100%;
}

img.people {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* background */
.icon-small i {
    font-size: 16px;
    position: relative;
    top: 1px;
}

.icon-middle i {
    font-size: 18px;
    position: relative;
    top: 1px;
}

.icon-big i {
    font-size: 30px;
}

.icon-width {
    color: #fff;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    line-height: 32px;
}


/* background */
.background-primer {
    background: #425A7D;
}

.background-white {
    background: white;
}

.background-circle {
    height: 50px;
    width: 100%;
    margin-bottom: 2px;
}

.background-circle-slider {
    height: 60px;
    width: 100%;
    position: absolute;
}

/* color*/
.color-primer {
    color: #37333a;
}

.color-white {
    color: #fff;
}

/* text */
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* float */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* font-weight */
.font-weight-900 {
    font-weight: 900;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}

/* position */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


/* border-radius */
.border-radius {
    border-radius: 25px;
}

.border-radius-top-left-right {
    border-radius: 25px 25px 0 0;
}

.border-radius-circle {
    border-radius: 50%;
}

.border-radius-style {
    border-radius: 0% 0% 90% 90% / 0% 0% 66% 66%;
}


/* box-shadow */
.box-shadow {
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

/* container */
.container {
    padding: 0 15px !important;
}

/* overflow */
.overflow-hidden {
    overflow: hidden;
}

/* padding */
.padding-middle {
    padding: 20px 0;
}

.padding-left-small {
    padding-left: 8px;
}

.padding-right-small {
    padding-right: 8px;
}

.padding-top-small {
    padding-top: 8px;
}

.padding-bottom-small {
    padding-bottom: 8px;
}

.padding-box {
    padding: 15px;
}

.padding-box h6 {
    margin-top: 5px;
}

.padding-small {
    padding: 8px;
}

.padding-box-middle {
    padding: 15px;
}


/* separator */
.separator {
    height: 26px;
}

.separator-small {
    height: 18px;
}

.separator-bottom {
    height: 26px;
}

@-moz-document url-prefix() {
    .separator-bottom {}

}

/* display */
.display-block {
    display: block;
}

/* button */
.buttons {
    border: 0;
    background: #6f6676;
    color: #fff;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 18px;
    width: auto;
    cursor: pointer;
}

.buttons-center {
    display: block;
    margin: auto;
}

.buttons-full {
    width: 100%;
}

.buttons-red {
    background: #f44336;
}



/* nav botom list */
ul {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;

}

.icon {
    position: relative;
    z-index: 2;
}

.card {
    position: absolute;
    z-index: 1;
    margin-top: 4%;
    width: auto;
}
.table{
width: 80%;
margin-left: 10%;
margin-top: 5%;
}
@media screen and (max-width: 600px) {
    .table {
        margin-top: 10%;

    }}
footer{
    position:unset;
}